/* CSS Document */
*{
    margin: 0;
    padding: 0; 
}
body{	
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 22px;
    background-image: url("../images/bg2.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    text-shadow: 1px 1px white;
    padding: 3px;
    text-align:center;
}


/*Header AREA*/
.selfPic{
    border:2px solid black;
    border-radius: 80px;
    width: 120px;
    margin-right: 15px;
    transition:width 2s, height 2s, transform 2s;
    -webkit-transition:width 2s, height 2s, -webkit-transform 2s; 
}

.selfPic:hover{
    cursor: pointer;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg); /* Safari */
    -webkit-box-shadow: 0 0 5px 5px black;
    -moz-box-shadow: 0 0 5px 5px black;
    box-shadow: 0 0 5px 5px black;
}

/*********Main Content AREA*****************/
.mainContentArea{
    color: white;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 10px;
    background-color: rgba(0,0,0,.4);
    height: 605px;
    overflow: hidden;
}

.mainContentArea .mainContentInner h2{
    float:left;
    margin-left: -15px;
    transition:all .4s, height .4s, transform .4s;
    -webkit-transition:all .4s, height .4s, -webkit-transform .4s;
    opacity: .5;
}

.mainContentArea .mainContentInner .logoPic{
    width: 50px;
    height: 50px;
    padding-left: 4%;
}

.mainContentArea .mainContentInner{
    padding-left: 25px;
    padding-top: 10px;
    margin-left:50px;
    height: 8%;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0,0,0,.9);
    transition:all .4s, height .4s, transform .4s;
    -webkit-transition:all .4s, height .4s, -webkit-transform .4s;
}

.contentWrapperScroll{
    clear: both;
    height: 80%;
    overflow-y: scroll;
}

.mainContentArea .mainContentInner:hover{
    height: 50%;
}

.mainContentArea .mainContentInner:hover h2{
    margin-left: 50px;
    opacity: 1;
}

.mainContentArea .mainContentInner .eachInnerBlock .contentWrapperScroll{
    position: relative;
    clear:both;
    padding: 3%;
    width: 80%;
    font-size: 100%;
    border-top: 2px solid black;
    transition:all .4s, height .4s, transform .4s;
    -webkit-transition:all .4s, height .4s, -webkit-transform .4s; 
}

.mainContentArea .mainContentInner .eachInnerBlock{
    padding: 3%;
}

.mainContentArea .mainContentInner .eachInnerBlock:hover{
    background: rgba(0,0,0,.8);
}

/*****************************Education Area*****************************/
.mainContentArea #education{
    box-shadow: 10px 10px 10px rgba(0,0,255,.9);
}

.mainContentArea #education .education .schoolName{
    font-weight: bold;
}

.mainContentArea #education .eachInnerBlock{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

/***********************Experience AREA***************************/

.mainContentArea #experience{
    box-shadow: 10px 10px 10px rgba(0,255,0,.9);
}

.mainContentArea #experience .eachInnerBlock{
    border-bottom: 1px solid green;
    border-top: 1px solid green;
}

.mainContentArea #experience:hover{
    height: 70%;
}

#experience .contentWrapperScroll{
    height: 80%;
}

/***********************Skills and Awards AREA************************/
.mainContentArea #skills{
    box-shadow: 10px 10px 10px rgba(255,0,0,.9);
}

.mainContentArea #skills .eachInnerBlock{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}


